{% extends "::base.html.twig" %}

{% block title %}AppBundle:TeamledenController:showTeamleden{% endblock %}

{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('css/opmaak.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/teamledenOpmaak.css') }}" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
{% endblock %}

{% block body %}
    {% include 'layout/navBar.html' only %}

    <div class="body-container">
        <img class="banner" src="/images/banner.jpg" width="100%"/>

        <div class="transparent-wrapper">
            <div id="div-transparent"></div>
        </div>
        <div class="div-not-transparent">
            <section id="team">
                <div class="container-team">
                    <h1>Meet the team</h1>

                    <div id="members">
                        <div class="member one-third column">
                            <div class="thumbnail">
                                <img width="254" height="254" src="images/user.png"/>
                            </div>
                            <h2>Rafael Tureluren</h2>

                            <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec
                                porttitor nec,
                                commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis
                                purus
                                ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor
                                molestie
                                rhoncus ultrices quis nisi.</p>

                        </div>
                        <div class="member one-third column">
                            <div class="thumbnail">
                                <img width="254" height="254" src="images/user.png"/>
                            </div>
                            <h2>Kristof Spaas</h2>

                            <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec
                                porttitor nec,
                                commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis
                                purus
                                ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor
                                molestie
                                rhoncus ultrices quis nisi.</p>

                        </div>
                        <div class="member one-third column">
                            <div class="thumbnail">
                                <img width="254" height="254" src="images/user.png"/>
                            </div>
                            <h2>Lander Ghekiere</h2>

                            <p>Phasellus a nisi urna, facilisis facilisis diam. Vivamus enim ligula, sollicitudin nec
                                porttitor nec,
                                commodo vel justo. Nunc in mattis ipsum. Mauris accumsan pretium diam, sit amet iaculis
                                purus
                                ullamcorper ac. Donec pulvinar metus a ipsum varius suscipit. Mauris ut nisi at tortor
                                molestie
                                rhoncus ultrices quis nisi.</p>

                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
